DEAppWS/DEAppWS/Web References/ForceStatusChangeBL/ForceStatusChangeBL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="selectBatches">
        <s:complexType />
      </s:element>
      <s:element name="selectBatchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectBatchesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="batCtrlNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="systemUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerDate">
        <s:complexType />
      </s:element>
      <s:element name="GetServerDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetServerDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="selectBatchesSoapIn">
    <wsdl:part name="parameters" element="tns:selectBatches" />
  </wsdl:message>
  <wsdl:message name="selectBatchesSoapOut">
    <wsdl:part name="parameters" element="tns:selectBatchesResponse" />
  </wsdl:message>
  <wsdl:message name="updateStatusSoapIn">
    <wsdl:part name="parameters" element="tns:updateStatus" />
  </wsdl:message>
  <wsdl:message name="updateStatusSoapOut">
    <wsdl:part name="parameters" element="tns:updateStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerDate" />
  </wsdl:message>
  <wsdl:message name="GetServerDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerDateResponse" />
  </wsdl:message>
  <wsdl:portType name="ForceStatusChangeBLSoap">
    <wsdl:operation name="selectBatches">
      <wsdl:input message="tns:selectBatchesSoapIn" />
      <wsdl:output message="tns:selectBatchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateStatus">
      <wsdl:input message="tns:updateStatusSoapIn" />
      <wsdl:output message="tns:updateStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <wsdl:input message="tns:GetServerDateSoapIn" />
      <wsdl:output message="tns:GetServerDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ForceStatusChangeBLSoap" type="tns:ForceStatusChangeBLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectBatches">
      <soap:operation soapAction="http://tempuri.org/selectBatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStatus">
      <soap:operation soapAction="http://tempuri.org/updateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <soap:operation soapAction="http://tempuri.org/GetServerDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ForceStatusChangeBLSoap12" type="tns:ForceStatusChangeBLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectBatches">
      <soap12:operation soapAction="http://tempuri.org/selectBatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStatus">
      <soap12:operation soapAction="http://tempuri.org/updateStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <soap12:operation soapAction="http://tempuri.org/GetServerDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ForceStatusChangeBL">
    <wsdl:port name="ForceStatusChangeBLSoap" binding="tns:ForceStatusChangeBLSoap">
      <soap:address location="http://localhost:1195/ForceStatusChangeBL.asmx" />
    </wsdl:port>
    <wsdl:port name="ForceStatusChangeBLSoap12" binding="tns:ForceStatusChangeBLSoap12">
      <soap12:address location="http://localhost:1195/ForceStatusChangeBL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>