DEAppWS/DEAppWS/Web References/DeactivateBatchesBL/DeactivateBatchesBL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="selectReasonDescription">
        <s:complexType />
      </s:element>
      <s:element name="selectReasonDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectReasonDescriptionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isReactivate" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectBatchResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBatchReactivate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="batchNumber">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="systemUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBatchReactivateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateBatchReactivateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="batchNumber">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="isStandardReason" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="systemUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateBatchResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerDate">
        <s:complexType />
      </s:element>
      <s:element name="GetServerDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetServerDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="selectReasonDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:selectReasonDescription" />
  </wsdl:message>
  <wsdl:message name="selectReasonDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:selectReasonDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="selectBatchSoapIn">
    <wsdl:part name="parameters" element="tns:selectBatch" />
  </wsdl:message>
  <wsdl:message name="selectBatchSoapOut">
    <wsdl:part name="parameters" element="tns:selectBatchResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBatchReactivateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBatchReactivate" />
  </wsdl:message>
  <wsdl:message name="UpdateBatchReactivateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBatchReactivateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBatchSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBatch" />
  </wsdl:message>
  <wsdl:message name="UpdateBatchSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerDate" />
  </wsdl:message>
  <wsdl:message name="GetServerDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerDateResponse" />
  </wsdl:message>
  <wsdl:portType name="DeactivateBatchesBLSoap">
    <wsdl:operation name="selectReasonDescription">
      <wsdl:input message="tns:selectReasonDescriptionSoapIn" />
      <wsdl:output message="tns:selectReasonDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectBatch">
      <wsdl:input message="tns:selectBatchSoapIn" />
      <wsdl:output message="tns:selectBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBatchReactivate">
      <wsdl:input message="tns:UpdateBatchReactivateSoapIn" />
      <wsdl:output message="tns:UpdateBatchReactivateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBatch">
      <wsdl:input message="tns:UpdateBatchSoapIn" />
      <wsdl:output message="tns:UpdateBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <wsdl:input message="tns:GetServerDateSoapIn" />
      <wsdl:output message="tns:GetServerDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeactivateBatchesBLSoap" type="tns:DeactivateBatchesBLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectReasonDescription">
      <soap:operation soapAction="http://tempuri.org/selectReasonDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectBatch">
      <soap:operation soapAction="http://tempuri.org/selectBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBatchReactivate">
      <soap:operation soapAction="http://tempuri.org/UpdateBatchReactivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBatch">
      <soap:operation soapAction="http://tempuri.org/UpdateBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <soap:operation soapAction="http://tempuri.org/GetServerDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeactivateBatchesBLSoap12" type="tns:DeactivateBatchesBLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectReasonDescription">
      <soap12:operation soapAction="http://tempuri.org/selectReasonDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectBatch">
      <soap12:operation soapAction="http://tempuri.org/selectBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBatchReactivate">
      <soap12:operation soapAction="http://tempuri.org/UpdateBatchReactivate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBatch">
      <soap12:operation soapAction="http://tempuri.org/UpdateBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <soap12:operation soapAction="http://tempuri.org/GetServerDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeactivateBatchesBL">
    <wsdl:port name="DeactivateBatchesBLSoap" binding="tns:DeactivateBatchesBLSoap">
      <soap:address location="http://localhost:1195/DeactivateBatchesBL.asmx" />
    </wsdl:port>
    <wsdl:port name="DeactivateBatchesBLSoap12" binding="tns:DeactivateBatchesBLSoap12">
      <soap12:address location="http://localhost:1195/DeactivateBatchesBL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>