DEAppWS/DEAppWS/Web References/FBCountCorrectionBL/FBCountCorrectionBL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="selectBatch">
        <s:complexType />
      </s:element>
      <s:element name="selectBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectBatchResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFBCountCorrection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="batchNumber">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="correctField" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="systemUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFBCountCorrectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateFBCountCorrectionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerDate">
        <s:complexType />
      </s:element>
      <s:element name="GetServerDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetServerDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="selectBatchSoapIn">
    <wsdl:part name="parameters" element="tns:selectBatch" />
  </wsdl:message>
  <wsdl:message name="selectBatchSoapOut">
    <wsdl:part name="parameters" element="tns:selectBatchResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFBCountCorrectionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFBCountCorrection" />
  </wsdl:message>
  <wsdl:message name="UpdateFBCountCorrectionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFBCountCorrectionResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerDate" />
  </wsdl:message>
  <wsdl:message name="GetServerDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerDateResponse" />
  </wsdl:message>
  <wsdl:portType name="FBCountCorrectionBLSoap">
    <wsdl:operation name="selectBatch">
      <wsdl:input message="tns:selectBatchSoapIn" />
      <wsdl:output message="tns:selectBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFBCountCorrection">
      <wsdl:input message="tns:UpdateFBCountCorrectionSoapIn" />
      <wsdl:output message="tns:UpdateFBCountCorrectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <wsdl:input message="tns:GetServerDateSoapIn" />
      <wsdl:output message="tns:GetServerDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FBCountCorrectionBLSoap" type="tns:FBCountCorrectionBLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectBatch">
      <soap:operation soapAction="http://tempuri.org/selectBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFBCountCorrection">
      <soap:operation soapAction="http://tempuri.org/UpdateFBCountCorrection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <soap:operation soapAction="http://tempuri.org/GetServerDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FBCountCorrectionBLSoap12" type="tns:FBCountCorrectionBLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectBatch">
      <soap12:operation soapAction="http://tempuri.org/selectBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFBCountCorrection">
      <soap12:operation soapAction="http://tempuri.org/UpdateFBCountCorrection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <soap12:operation soapAction="http://tempuri.org/GetServerDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FBCountCorrectionBL">
    <wsdl:port name="FBCountCorrectionBLSoap" binding="tns:FBCountCorrectionBLSoap">
      <soap:address location="http://localhost:1195/FBCountCorrectionBL.asmx" />
    </wsdl:port>
    <wsdl:port name="FBCountCorrectionBLSoap12" binding="tns:FBCountCorrectionBLSoap12">
      <soap12:address location="http://localhost:1195/FBCountCorrectionBL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>