DEAppWS/DEAppWS/Web References/CreateMXXmdbBL/CreateMXXmdbBL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="selectBatchObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MXXDatabase" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectBatchObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectBatchObjResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MXXDatabase" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsBatch">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="MXXDatabase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OwnerKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="saveBatchResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTRBat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ownerKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MXXBatch" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dateStart" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="userInitial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTRBatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertTRBatResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerDate">
        <s:complexType />
      </s:element>
      <s:element name="GetServerDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetServerDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="selectBatchObjSoapIn">
    <wsdl:part name="parameters" element="tns:selectBatchObj" />
  </wsdl:message>
  <wsdl:message name="selectBatchObjSoapOut">
    <wsdl:part name="parameters" element="tns:selectBatchObjResponse" />
  </wsdl:message>
  <wsdl:message name="selectDetailSoapIn">
    <wsdl:part name="parameters" element="tns:selectDetail" />
  </wsdl:message>
  <wsdl:message name="selectDetailSoapOut">
    <wsdl:part name="parameters" element="tns:selectDetailResponse" />
  </wsdl:message>
  <wsdl:message name="saveBatchSoapIn">
    <wsdl:part name="parameters" element="tns:saveBatch" />
  </wsdl:message>
  <wsdl:message name="saveBatchSoapOut">
    <wsdl:part name="parameters" element="tns:saveBatchResponse" />
  </wsdl:message>
  <wsdl:message name="insertTRBatSoapIn">
    <wsdl:part name="parameters" element="tns:insertTRBat" />
  </wsdl:message>
  <wsdl:message name="insertTRBatSoapOut">
    <wsdl:part name="parameters" element="tns:insertTRBatResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerDate" />
  </wsdl:message>
  <wsdl:message name="GetServerDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerDateResponse" />
  </wsdl:message>
  <wsdl:portType name="CreateMXXmdbBLSoap">
    <wsdl:operation name="selectBatchObj">
      <wsdl:input message="tns:selectBatchObjSoapIn" />
      <wsdl:output message="tns:selectBatchObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectDetail">
      <wsdl:input message="tns:selectDetailSoapIn" />
      <wsdl:output message="tns:selectDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="saveBatch">
      <wsdl:input message="tns:saveBatchSoapIn" />
      <wsdl:output message="tns:saveBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertTRBat">
      <wsdl:input message="tns:insertTRBatSoapIn" />
      <wsdl:output message="tns:insertTRBatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <wsdl:input message="tns:GetServerDateSoapIn" />
      <wsdl:output message="tns:GetServerDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreateMXXmdbBLSoap" type="tns:CreateMXXmdbBLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectBatchObj">
      <soap:operation soapAction="http://tempuri.org/selectBatchObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectDetail">
      <soap:operation soapAction="http://tempuri.org/selectDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveBatch">
      <soap:operation soapAction="http://tempuri.org/saveBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTRBat">
      <soap:operation soapAction="http://tempuri.org/insertTRBat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <soap:operation soapAction="http://tempuri.org/GetServerDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreateMXXmdbBLSoap12" type="tns:CreateMXXmdbBLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectBatchObj">
      <soap12:operation soapAction="http://tempuri.org/selectBatchObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectDetail">
      <soap12:operation soapAction="http://tempuri.org/selectDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveBatch">
      <soap12:operation soapAction="http://tempuri.org/saveBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTRBat">
      <soap12:operation soapAction="http://tempuri.org/insertTRBat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDate">
      <soap12:operation soapAction="http://tempuri.org/GetServerDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreateMXXmdbBL">
    <wsdl:port name="CreateMXXmdbBLSoap" binding="tns:CreateMXXmdbBLSoap">
      <soap:address location="http://localhost:1195/CreateMXXmdbBL.asmx" />
    </wsdl:port>
    <wsdl:port name="CreateMXXmdbBLSoap12" binding="tns:CreateMXXmdbBLSoap12">
      <soap12:address location="http://localhost:1195/CreateMXXmdbBL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>